<div class="row">
  <div class="col-md-12 text-right">
    <button
    [routerLink] = "['/laboratory', 'new']"
    type="button"
    class="btn btn-outline-primary btn-lg"> Nuevo Laboratorio </button>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-md-12">
    <table class="table table-inverse table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Escuela/Departamento</th>
          <th>Opcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of laboratories | keys">
          <th>{{ laboratories[k].cod_lab }}</th>
          <th>{{ laboratories[k].nombre_de_laboratorio }}</th>
          <th>{{ laboratories[k].direccion }}</th>
          <th>{{ laboratories[k].escuela_o_departamento }}</th>
          <th>
              <button type="button" [routerLink] = "['/laboratory', k]"
                class="btn btn-outline-success btn-sm">
                <i class="fa fa-pencil-square-o"></i>
                Editar
              </button>
              <button type="button" (click) = "deleteLaboratory(k)"
                class="btn btn-outline-danger btn-sm">
                <i class="fa fa-times"></i>
                Eliminar
              </button>

          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
