<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image:url('assets/images/carouselOne.png')"> </div>
    <div class="carousel-item" style="background-image:url('assets/images/carouselTwo.png')"> </div>
    <div class="carousel-item" style="background-image:url('assets/images/carouselThree.png')"> </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container top-30">
  <div class="row">
    <div class="col-md-4 text-center">
      <i class = "fa fa-file-image-o fa-2x"></i>
      <br>
      <br>
      Imágenes aéreas
      <hr>
      Imágenes derivadas de plataformas satelitales, vehículos aéreos tripulados y no tripulados para soluciones cartográficas a cualquier necesidad y escala.
    </div>
    <div class="col-md-4 text-center">
      <i class = "fa fa-youtube-play fa-2x"></i>
      <br>
      <br>
      Apps
      <hr>
      Desarrollo de Apps para solucionar problemas de eficacia y eficiencia. Resguardo de información en la nube, administración de datos en diferentes plataformas.
    </div>
    <div class="col-md-4 text-center">
      <i class = "fa fa-mobile-phone fa-2x" aria-hidden="true"> </i>
      <br>
      <br>
      GisData
      <hr>
      Simplifica lo complejo! Plataforma para recolectar, administrar y estructurar datos de acuerdo a estándares.
    </div>
  </div>
</div>
